<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Lab05/Simplex/"
          binding="basicHttpBinding" contract="WCFSimplex.ISimplex" name="httpEndpoint" />
      <endpoint address="net.tcp://localhost:8734/Design_Time_Addresses/Lab05/Simplex/"
          binding="netTcpBinding" contract="WCFSimplex.ISimplex" name="tcpEndpoint">
        <identity>
          <userPrincipalName value="DESKTOP-2QTVKAR\Harwex213" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>